app = "aee-pro-agent"
primary_region = "gru"

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 1

[http_service.concurrency]
  type = "requests"
  hard_limit = 10
  soft_limit = 5

[[vm]]
  memory = "4gb"
  cpu_kind = "shared"
  cpus = 2
